input[type='checkbox']:checked + label > .showBox {
  background-color: rgb(255, 60, 0);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: .75rem;
  border: 2px solid #333;
}

input[type='checkbox'] + label > .showBox {
  background-color: white;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: .75rem;
  border: 2px solid #333;
}

.showBox {
  margin: 0 auto;
  vertical-align: middle;
}

input[type='checkbox'] {
  width: 1px;
  height: 1px;
  visibility: hidden;
}
