.bottom-container {
  height: 3.125rem;
  width: 29.75rem;
  background-color: aliceblue;
  display: flex;
  align-items: center;
}

.showAll {
  margin-left: 11.25rem;
}

.showAll.active {
  background-color: #666;
  color: white;
}
